title: "Sarry Zheng Work Portfolio"
description: "Portfolio site"
url: "https://sarryz.github.io/work-portfolio"
baseurl: "/work-portfolio"

remote_theme: claudielarouche/portfolio-theme
plugins:
  - jekyll-remote-theme
  - jekyll-feed

collections:
  projects:
    output: true

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: project
